.featured_image {
  width: auto;
  height: 100px;
}

.jumbotron {
  color: #fff;
  border-bottom: 1px solid #d3e0e9;
  border-radius: 0 !important;
  background: linear-gradient(to right, #3097d4, #fff);
}